* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f0f2f5; /* Light grey background */
  color: #333; /* Dark grey text */
  line-height: 1.6;
}

h1, h2 {
  color: #2c3e50;
  margin-bottom: 10px;
}

p {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}

.wiki-header {
  background-color: #3498db;
  color: white;
  padding: 20px 0;
}

.wiki-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  color: white;
}

.wiki-header-container h1 a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.wiki-header-container h1 a:hover {
  color: #f39c12;
}

.wiki-authors {
  margin-top: 40px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.authors-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.author-item {
  text-align: center;
}

.author-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.author-item h3 {
  margin: 10px 0 5px;
  font-size: 1.2em;
}

.author-item p {
  font-size: 0.9em;
  color: #555;
}

button{
  background-color: #4CAF50; /* Color de fondo verde */
  border: none;              /* Sin borde */
  color: white;              /* Texto en blanco */
  padding: 15px 32px;        /* Relleno alrededor del texto */
  text-align: center;        /* Centrar texto */
  text-decoration: none;     /* Eliminar subrayado (enlaces) */
  display: inline-block;     /* Hacer el botón en línea */
  font-size: 16px;           /* Tamaño de la fuente */
  margin: 4px 2px;           /* Márgenes alrededor del botón */
  cursor: pointer;           /* Mostrar el cursor como puntero al pasar sobre el botón */
  border-radius: 8px;        /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Efecto de transición para el fondo */
}

button:hover {
  background-color: #45a049; /* Color de fondo al pasar el mouse */
}
